body 
	background-color 	#000
	margin				0px
	font-family			monaco
	color 				#fff	

	
.text 
	width 				80% 
	height				10%
	position 			absolute
	top					0
	bottom 				0
	left				0
	right				0
	margin	 			auto	
	text-align 			center
	background-color	#000
	border				none
	margin				auto

.text p 
	font-size: 30px

.active 
	background 	#fff 
	color 		#000

.success 
	color 		#0f0

.fail 
	color 		#f00


ul li 
	font-size 	50px
	display		inline-block

pre 
	font-size 	50px

.timer 
	text-align 	right
	position	 	fixed
	top			0
	right 		0

.reset
	text-align 	left
	position 	fixed 
	bottom		0
	left		0 
.add
	text-align 	right
	position 	fixed 
	bottom		0
	right		0 

span
	font-size 	15px

.icon 
	margin		25px
	text-align  center
	width		100px

.icon:hover
	font-size: 1.1em
