head 
	title #{title}
	link(rel='stylesheet' type="text/css" href="stylesheets/main.css")

body 
	
	div(class="text")
		ul
			li(class="letter") Welcome to typeBook!
		p(id="holding-text") [Press enter to begin]


	script(id="letters" type="x-tmpl-mustache")
		li(class="letter {{class}}")
			pre {{value}}




	script(src="https://code.jquery.com/jquery-2.1.3.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js")
	script(src="https://code.jquery.com/jquery-2.1.3.min.js")
	script(src="js/models/Character.js")
	script(src="js/models/Display.js")
	script(src="js/models/TextProcessor.js")
	script(src="js/texts/textOne.js")
	script(src="js/homepage.js")
