head 
	title #{title}
	link(rel='stylesheet' type="text/css" href="stylesheets/main.css")

body 
	
	div(class="text")
		ul
			li(class="letter") Welcome to typeBook!
		p(id="holding-text") [Press enter to begin]


	script(id="letters" type="x-tmpl-mustache")
		li(class="letter {{class}}")
			pre {{value}}




	script(src="js/vendor/jquery.min.js")
	script(src="js/vendor/mustache.min.js")
	script(src="js/models/Character.js")
	script(src="js/models/Display.js")
	script(src="js/models/Game.js")
	script(src="js/models/TextProcessor.js")
	script(src="js/texts/textOne.js")
	script(src="js/homepage.js")
